@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
          
            <button class="button">ÜRETİM EMİRLERİ</button>
            <button class="button">ÜRETİM İŞLEMLERİ</button>
            <button class="button">TÜM İŞ EMİRLERİ</button>
            <button class="button">TÜM İŞ MERKEZLERİ</button>

        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
