<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="home" href="counter"><span class="home-page" ></span></a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="filename">
                <span class="bi bi-book-nav-menu" ></span> 
            </NavLink>
        </div>
               <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-list-bank-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div> 
        @* // C:\Users\arda.ulusoy\source\repos\deneme\Resources\Images\basket.svg *@

    </nav>
 </div>
