@page "/"



<h3>İş Merkezleri</h3>

<!-- Dinamik butonların ekleneceği alan -->
<div class="mt-3">
    @foreach (var button in Buttons)
    {
        <button class="button" @onclick="() => HandleButtonClick(button)">@button</button>
    }
    <!-- Tıklanan butonun adı gösterilecek -->
@if (!string.IsNullOrEmpty(SelectedButton))
{
    <p>Tıklanan Buton: <strong>@SelectedButton</strong></p>
}
</div>

@code {
    // Buton sayısı
    private int ButtonCount { get; set; } = 10; // Başlangıçta 5 buton

    // Buton isimlerini tutan liste
    private List<string> Buttons { get; set; } = new()
    {
       "fason","kaynak","testere","torna","boya","cnc","lazer","montaj","elektrik"
    };
    private string SelectedButton { get; set; } = string.Empty;

    // Tıklama işlemi için metot
    private void HandleButtonClick(string buttonName)
    {
        SelectedButton = buttonName;
        
        
        if (buttonName == "cnc")
        {
            SelectedButton = "CNC işlemi başladı!";
        }
        else
        {
            SelectedButton = $"{buttonName} butonuna tıklandı.";
        }
    }
}

 